[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
matplotlib = "*"
plotly = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
scipy = "*"
ipywidgets = ">=7.5"
pdpbox = "*"
xgboost = "*"
category-encoders = "*"
tensorflow = "*"
cufflinks = "*"

[requires]
python_version = "3.7"
